.articles {
  background-color: $veryLightGray; // Light gray background for the articles section
}

.article {
  &__grid {
    display: grid; // Use grid layout
    grid-template-columns: 1fr; // Default grid with 1 column
    gap: 1.875rem; // Space between grid items

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr); // 2 columns for medium screens
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr); // 4 columns for large screens
    }
  }

  &__item {
    border-radius: 0.3125rem; // Round the corners of the items
    overflow: hidden; // Hide overflow content
    background-color: $white; // White background for each item
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15); // Subtle shadow for depth
    transition: all 150ms ease-in-out; // Smooth transition for hover effects

    &:hover {
      transform: scale(1.05); // Slightly enlarge the item on hover
    }
  }

  &__image {
    height: 12.5rem; // Fixed height for images
    background-size: cover; // Cover the container with the background image
    background-repeat: no-repeat; // Prevent image repetition
    background-position: center center; // Center the background image
  }

  &__text {
    padding: 1.875rem 1.875rem 2.5rem 1.875rem; // Padding around the text
    color: $grayishBlue; // Grayish text color

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem; // Adjust padding on medium screens
    }
  }

  &__author {
    font-size: 0.625rem; // Small font size for author
    margin-bottom: 0.75rem; // Space below the author name
  }

  &__title {
    font-size: 1.0625rem; // Title font size
    line-height: 1.2; // Line height for title
    color: $darkBlue; // Dark blue color for the title
    margin-bottom: 0.5rem; // Space below the title
  }

  &__description {
    font-size: 0.8125rem; // Font size for the description
  }
}
