.has-fade {
  visibility: hidden; // Initially hide the element
}

@keyframes fade-in {
  from {
    visibility: hidden; // Start with visibility hidden
    opacity: 0; // Start fully transparent
  }
  1% {
    visibility: visible; // Set visibility to visible at 1%
    opacity: 0; // Keep transparent
  }
  to {
    visibility: visible; // Keep visible at the end
    opacity: 1; // Make fully opaque
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards; // Apply fade-in animation
}

@keyframes fade-out {
  from {
    visibility: visible; // Start with visibility visible
    opacity: 1; // Start fully opaque
  }
  99% {
    visibility: visible; // Keep visible at 99%
    opacity: 0; // Fade to transparent
  }
  to {
    visibility: hidden; // Set visibility to hidden at the end
    opacity: 0; // Stay fully transparent
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards; // Apply fade-out animation
}
